/* You can add global styles to this file, and also import other style files */
.form-inline.multiple-line .form-group {
  margin-bottom: 15px!important;
  margin-right: 20px!important;
}

.btn-group-link .btn {
  padding: 6px 4px;
}
